[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
icalendar = "*"
aw-core = {editable = true,git = "https://github.com/ActivityWatch/aw-core.git"}
aw-client = {editable = true,git = "https://github.com/ActivityWatch/aw-client.git"}
